---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Section from "../components/Section.astro";
import Experiencia from "../components/Experiencia.astro";
import SocialPill from "../components/SocialPill.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import GitHub from "../components/icons/GitHub.astro";
import Email from "../components/icons/Email.astro";
import Copy from "../components/icons/Copy.astro";
// Habilidades
import Skills from "../components/Skills.astro";
import Coding from "../components/icons/Coding.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import React from "../components/icons/React.astro";
import NodeJs from "../components/icons/NodeJs.astro";
import TailwindCSS from "../components/icons/TailwindCSS.astro";
---

<Layout title="Bienvenido/a a mi portfolio.">
  <main class="px-4">
    <Section id="SobreMi">
      <h1 class=" text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-8">
        <span
          ><img
            class="rounded-full h-12 mb-4"
            src="/images/Photo.jpg"
            alt="photo"
          /></span
        >
        Hey, soy Agus <a
          href="https://www.linkedin.com/in/agustinazingariello"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-xl opacity-80">
        <span class="text-pink-400"
          >Desarrollador y Programadora Web Full Stack.</span
        >
        Poseo gran <span class="text-blue-400">capacidad y disposición</span> para
        el <span class="text-blue-400">trabajo en equipo.</span> Tuve la oportunidad
        de trabajar en diversos proyectos donde he aplicado mis conocimientos para
        desarrollar interfaces de usuario <span class="text-blue-400">
          intuitivas y atractivas.</span
        > Mi experiencia se extiende a la utilización de frameworks como React, lo
        que me ha permitido diseñar <span class="text-blue-400"
          >soluciones eficientes y escalables.</span
        >
      </h2>
      <nav class="flex flex-wrap gap-x-4 mt-4 py-3">
        <SocialPill href="https://www.linkedin.com/in/agustinazingariello">
          <Linkedin class="w-6 h-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Agus120">
          <GitHub class="w-6 h-6" />GitHub
        </SocialPill>
      </nav>
    </Section>
    <Section id="Contacto">
      <h1 class="text-3xl font-bold flex flex-row gap-x-4 ">Contacto</h1>
      <nav class="flex items-center gap-x-2 py-2 mt-4 text-xl">
        <Email class=""/>
        Email
      </nav>
    <div class="flex flex-row text-2xl">
      <blockquote id="quote" class="mx-2 gap-x-4">
        aguszingariello@gmail.com
      </blockquote>
      <button>
        <Skills id="buttonCopy">
          <Copy />
        </Skills>
      </button>
    </div>
    <script>
      const button = document.getElementById("buttonCopy");
      const quote = document.getElementById("quote");

      if (button !== null && quote !== null) {
        const copyToClipboard = async (str: string | null) => {
          if (str !== null) {
            try {
              await navigator.clipboard.writeText(str);
              console.log("copied");
            } catch (error) {
              console.log(error);
            }
          }
        };

        button.addEventListener("click", () => {
          copyToClipboard(quote.textContent);
        });
      }
    </script>
    </Section>
    <Section id="Experiencia">
      <Experiencia />
    </Section>
    <Section id="Habilidades">
      <nav class="flex items-center gap-x-2 py-2 text-xl">
        <Coding class="" /><h1
          class="text-3xl font-bold flex flex-row gap-x-4 "
        >
          Habilidades
        </h1>
      </nav>
      <nav class="gap-x-4 py-3 mx-4">
        <Skills id="JavaScript">
          <JavaScript class="w-6 h-6" />JavaScript
          <h2>65%</h2>
        </Skills>
        <Skills id="Typescript">
          <TypeScript id="Typescript" class="w-6 h-6" />TypeScript
          <h2>45%</h2>
        </Skills>
        <Skills id="React">
          <React class="w-6 h-6" />React
          <h2>60%</h2>
        </Skills>
        <Skills id="NodeJs">
          <NodeJs class="w-6 h-6" />Node.js
          <h2>50%</h2>
        </Skills>
        <Skills id="TailwindCSS">
          <TailwindCSS class="w-6 h-6" />TailwindCSS
          <h2>40%</h2>
        </Skills>
      </nav>
    </Section>
  </main>
</Layout>

<style>
  #JavaScript:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    height: 100%;
    background: #5dade2;
    background-size: 800%;
    animation: js 1s forwards;
  }
  #Typescript:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 45%;
    height: 100%;
    background: #5dade2;
    background-size: 800%;
    animation: ts 1s forwards;
  }
  #React:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 100%;
    background: #5dade2;
    background-size: 800%;
    animation: react 1s forwards;
  }
  #NodeJs:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: #5dade2;
    background-size: 800%;
    animation: node 1s forwards;
  }
  #TailwindCSS:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40%;
    height: 100%;
    background: #5dade2;
    background-size: 800%;
    animation: tailwind 1s forwards;
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @keyframes ts {
    0% {
      width: 0%;
    }
    100% {
      width: 45%;
    }
  }
  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes tailwind {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
</style>
