<h1 class="text-3xl font-bold flex flex-row gap-x-2 py-4">Experiencia</h1>

<ol class="relative border-s border-gray-200 mx-4">
  <li class="mb-10 ms-4 ">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Actualmente...</time
    >
    <h3 class="text-lg font-semibold text-pink-300 text-opacity-80">
      Mi Trayectoria de Aprendizaje y Desarrollo
    </h3>
    <p class="text-base font-normal text-gray-400 py-2">
      Actualmente, estoy inmerso en el aprendizaje de lenguajes como TypeScript
      y PHP, para potenciar mis proyectos web. Además, estoy explorando las
      capacidades de Astro y perfeccionando mis habilidades en diseño con
      Tailwind CSS y React. Mi objetivo es dominar estas tecnologías para
      impulsar mi desarrollo como profesional del desarrollo web.
    </p>
    <a
      href="https://github.com/Agus120"
      target="_blank"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:bg-opacity-80 hover:text-indigo-800"
      >Visita mi GitHub! <svg
        class="w-3 h-3 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg></a
    >
  </li>
  <li class="mb-10 ms-4 ">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Octubre 2023 - Marzo 2024</time
    >
    <h3 class="text-lg font-semibold text-pink-300 text-opacity-80">
      Desarrolladora de software - For It Software Factory
    </h3>
    <p class="text-base font-normal text-gray-400 py-2">
      Programa de entrenamiento laboral de 6 meses. Colaboré con un equipo para
      desarrollar un e-commerce en React y TypeScript. Implementamos prácticas
      de desarrollo guiado por pruebas (TDD).
    </p>
  </li>
  <li class="mb-5 ms-4 ">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >Mayo - Noviembre 2020</time
    >
    <h3 class="text-lg font-semibold text-pink-300 text-opacity-80">
      Proyecto Integrador - Fundacion Formar
    </h3>
    <p class="text-base font-normal text-gray-400 py-2">
      Desarrollamos en equipo una página e-commerce responsive con base de datos
      en un plazo de 6 meses.
    </p>
    <a
      href="https://github.com/ronal-vaca/grupo_6_Avalon.git"
      target="_blank"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:bg-opacity-80 hover:text-indigo-800"
      >Visita el repositorio <svg
        class="w-3 h-3 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg></a
    >
  </li>
</ol>