<header class="flex justify-center items-center mt-3 py-3 w-full xl:w-{1120px} mx-auto" >
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/" class="hover:scale-110 transition">Inicio</a>
        <a href="#SobreMi" class="hover:scale-110 transition">Sobre mi</a>
        <a href="#Experiencia" class="hover:scale-110 transition">Experiencia</a>
        <a href="#Habilidades" class="hover:scale-110 transition">Habilidades</a>
        <a href="#Contacto" class="hover:scale-110 transition">Contacto</a>
    </nav>
</header>
