<div class="flex lg:flex-row md:flex-row flex-col mx-4 max-w-full ">
  <div class=" flex m-2 py-4 lg:w-6/12 w-full">
    <div class="border border-gray-200 rounded-lg shadow dark:border-gray-700 ">
      <img class="rounded-t-lg " src="/images/Banner.jpg" alt="" />
      <div class="p-5">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
        >
          Desarrolladora de software - For It Software Factory
        </h5>
        <p class="mb-3 font-normal text-white dark:text-gray-400">
          Programa de entrenamiento laboral de 6 meses. Colaboré con un equipo
          para desarrollar un e-commerce en React y TypeScript. Implementamos
          prácticas de desarrollo guiado por pruebas (TDD).
        </p>
        <a
          href=""
          target="_blank"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800"
        >
          Visita el repositorio
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="flex m-2 py-4 lg:w-6/12 w-full">
    <div class="border border-gray-200 rounded-lg shadow dark:border-gray-700 ">
      <img class="rounded-t-lg " src="/images/Avalon.jpg" alt="" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Proyecto Integrador - Fundacion Formar
        </h5>
        <p class="mb-3 font-normal text-white dark:text-gray-400">
          Desarrollamos en equipo una página e-commerce responsive con base de
          datos en un plazo de 6 meses.
        </p>
        <a
          href="https://github.com/ronal-vaca/grupo_6_Avalon.git"
          target="_blank"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800"
        >
          Visita el repositorio
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
